[Unit]
Description=Bar Celery Worker Service
After=network.target

[Service]
User=bar
Group=www-data
WorkingDirectory=/home/bar/bar_booking_bot
ExecStart=/home/bar/bar_booking_bot/venv/bin/celery worker -A config.celery -l info --logfile ./logs/celery.log

[Install]
WantedBy=multi-user.target
