[Unit]
Description=Bar Telegram Gunicorn Service
After=network.target

[Service]
User=bar
Group=www-data
WorkingDirectory=/home/bar/bar_registration
EnvironmentFile=/home/bar/bar_registration/.env
ExecStart=/home/bar/bar_registration/venv/bin/gunicorn \
  --worker-class aiohttp.GunicornWebWorker
  --log-level='INFO' \
  --name "telegram_bar_booking_gunicorn" \
  --error-logfile /home/bar/bar_registration/logs/telegram-gunicorn-error.log \
  --access-logfile /home/bar/bar_registration/logs/telegram-gunicorn-access.log \
  --capture-output \
  --workers 3 \
  --bind=unix:/home/bar/bar_registration/run/telegram.sock \
   config.telegram_wsgi:web_app

[Install]
WantedBy=multi-user.target